/* app/page.module.css */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro {
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 1;
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subheading {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.subheading:last-of-type {
  margin-bottom: 8rem;
}

.link {
  text-decoration: underline;
  color: white;
}


.primaryRed {
  color: var(--accent-color);
}
