.footerLegalContainer {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-primary), sans-serif;
    font-size: 1.2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh; 
    padding-bottom: 7px; 
    margin-top: 14%; 
}

.legalLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 700px;
}

.legalLink {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease-in-out;
    font-family: var(--font-primary);
}

.legalLink:hover {
    opacity: 0.7;
}

.copyright {
    width: 100%;
    margin-top: 2vh; 
    font-family: var(--font-primary);
}

.siteBuilt {
    margin-top: auto;
}

.siteBuilt a {
    text-decoration: underline; /* Added underline */
    color: white;
    transition: opacity 0.3s ease-in-out;
    font-family: var(--font-primary);
}

.siteBuilt a:hover {
    opacity: 0.7;
}

/* Desktop adjustments */
@media (min-width: 730px) {
    .footerLegalContainer {
        max-width: 700px;
        margin-top: 7%; 
    }

    .legalLinks {
        justify-content: space-between;
    }
}
