.footerMenuContainer {
    border: var(--default-border);
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 300px;
    margin-top: 7%;
    height: min(70vw, 400px);
}

.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.rightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footerMenuItem a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
}

.footerMenuItem {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 6px 20px;
    transition: background-color 0.75s ease-in-out, color 0s;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 34px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.footerMenuItem:last-child {
    margin-bottom: 0; 
}

.footerMenuItem:hover {
    background-color: white;
    color: var(--primary-color);
    
}

.rightColumn h3 {
    margin: 0;
    color: white;
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

@media (min-width: 730px) {
    .footerMenuContainer {
        width: 100%;  
        max-width: 300px;  
        margin-top: 3%; 
    }
    .rightColumn h3 {
        font-size: 2rem;
    }
}
