/* components/utilities/wallet/connectButton/ConnectWrapper.module.css */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeIn 1s ease-in-out;
}

/* Fade in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-size: 18px;
  border-radius: 200px;
  border: var(--default-border);
  padding: 7px 20px;
  background-color: transparent;
  color: white;
  transition: background-color 1s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
}

.open {
  background-color: var(--secondary-color);
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  gap: 8px;
}

.plug,
.wallet {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.button:hover .plug {
  transform: translateX(5.5px);
}
.button:hover .wallet {
  transform: translateX(-5.5px);
}

.text {
  /* stays static */
}