/* File: components/navigation/topNav/TopNav.module.css */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 99.25%;
  height: 60px;
  background-color: var(--primary-color);
  border-bottom: var(--default-border);
  border-left:   var(--default-border);
  border-right:  var(--default-border);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
  overflow: hidden;
}

/* links are hidden on small viewports */
.links {
  display: none;
}

@media (min-width: 1100px) {
  .links {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  /* on mount, this class sets opacity to 1 */
  .fadeIn {
    opacity: 1;
  }
}

.spacer {
  height: 60px;
  width: 100%;
  display: block;
}

.logoWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
  z-index: 1001;
}

.walletContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  padding-right: 1rem;
}

/* Hide wallet container on mobile */
@media (max-width: 1100px) {
  .walletContainer {
    display: none;
  }
}