/* app/portfolio/components/SelectChain.module.css */
.container {
  width: 300px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  overflow: hidden;
  border-radius: 10px;
}

.topSection {
  background: var(--primary-color);
  border: var(--default-border);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.title {
  margin: 0;
  color: white;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  text-align: center;
}

.middleSection {
  flex: 1;
  background: var(--primary-color);
  border-left: var(--default-border);
  border-right: var(--default-border);
  overflow-y: auto;
  overflow-x: hidden;
}

.middleSection::-webkit-scrollbar {
  width: 8px;
}
.middleSection::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
.middleSection::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
}
.middleSection::-webkit-scrollbar-thumb:hover {
  background: rgba(4, 66, 108, 0.8);
}

.itemsContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: var(--default-border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  fill: var(--foreground);
  width: 14px;
  height: 14px;
}

.chainLogo {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
}

.chainName {
  color: white;
  font-family: var(--font-primary);
  font-size: 1rem;
}

.bottomSection {
  background: var(--primary-color);
  border: var(--default-border);
  border-top: none;
  border-radius: 0 0 10px 10px;
  height: 1rem;
}
