/* app/portfolio/components/SelectToken.module.css */
.container {
  width: 300px;
  max-width: 90vw;
  background: var(--primary-color);
  border: var(--default-border);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  margin: 0 0 1rem;
  color: white;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  text-align: center;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: var(--default-border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon {
  fill: var(--foreground);
  width: 14px;
  height: 14px;
}

.itemText {
  color: white;
  font-family: var(--font-primary);
  font-size: 1rem;
}
