.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 40px;
  background-color: transparent;
  border: var(--default-border);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 1s ease;
  animation: fadeIn 1s ease-in-out;
  padding: 0 0 0 8px;
  font-family: var(--font-primary);
  color: white;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

/* Fade in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.button:hover {
  background-color: var(--secondary-color);
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
}

.avatarWrapper {
  width: 0;
  height: 24px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper.showAvatar {
  width: 24px;
  opacity: 1;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatarFallback {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: background-color 1s ease;
}

.button:hover .avatarFallback {
  background-color: white;
}

.textWrapper {
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.address,
.ens {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: opacity 0.5s ease;
}

.address {
  opacity: 1;
}

.address.hideAddress {
  opacity: 0;
}

.ens {
  opacity: 0;
}

.ens.showEns {
  opacity: 1;
}