.wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
  margin-bottom: 5rem;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}
.headline {
  text-align: center;
  color: var(--accent-color);
  font-size: 3rem; 
  margin-bottom: 50px;
  }
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.left {
  width: 100%;
  max-width: 400px;
}
.right {
  width: 100%;
  max-width: 400px;
}
.imageContainer {
  width: 100%;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.description {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
}
@media (min-width: 730px) {
  .content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 8rem;
    max-width: 1000px; /* constrain total width */
    margin: 0 auto; /* center the container itself */
  }
}