.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Mobile layout */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    row-gap: 5rem;
    margin-bottom: 2rem;
  }

  .card:last-child {
    margin-bottom: 5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  width: 100%;
}

.top {
  border: var(--default-border);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 3em;
}

.middle {
  border-left: var(--default-border);
  border-right: var(--default-border);
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  aspect-ratio: 1;
  overflow: hidden;
}

.middle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* animate both scale and opacity over 1s */
  transition: transform 1s ease, opacity 1s ease;
}

.middle img:hover {
  opacity: 0.5;         /* fade to 50% */
  transform: scale(1.15); /* grow by 15% */
}

.bottom {
  border: var(--default-border);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: scale(1);
}
