name: Manual - Hardhat Tests

on:
  workflow_dispatch:

jobs:
  hardhat-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          working-directory: ./colored-keys

      - name: Install dependencies
        uses: ./.github/actions/install-deps
        with:
          filter: 'colored-keys...'

      - name: Run Hardhat tests
        uses: ./.github/actions/run-hardhat-tests
