name: Manual - Deploy Storybook

on:
  workflow_dispatch:

jobs:
  deploy-storybook:
    runs-on: ubuntu-latest
    environment: storybook
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          working-directory: ./dapp

      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: Build Storybook
        working-directory: ./dapp
        run: pnpm build-sb

      - name: Install Vercel CLI
        run: npm i -g vercel@latest

      - name: Link Vercel project
        run: vercel link --yes --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      - name: Prepare Vercel output
        run: |
          mkdir -p .vercel/output/static
          cp -r dapp/storybook-static/* .vercel/output/static/
          echo '{"version":3}' > .vercel/output/config.json

      - name: Deploy Storybook to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
